{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
<!-- Team Start -->
<div class="container-xxl pt-5 pb-3">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Team Members</h5>
            <h1 class="mb-5">Our Master Chefs</h1>
        </div>
        <div class="row g-4">
            {% for t in team %}
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="{{t.image.url}}" alt="">
                    </div>
                    <h5 class="mb-0">{{t.name}}</h5>
                    <small>{{t.lavozim}}</small>
                    <div class="d-flex justify-content-center mt-3">
                        {% if t.social_facebook %}
                        <a class="btn btn-square btn-primary mx-1" href="{{f.social_facebook}}"><i class="fab fa-facebook-f"></i></a>
                        {% endif %}
                        {% if t.social_youtube %}
                        <a class="btn btn-square btn-primary mx-1" href="{{f.social_youtube}}"><i class="fab fa-youtube"></i></a>
                        {% endif %}
                        {% if t.social_instagram %}
                        <a class="btn btn-square btn-primary mx-1" href="{{f.social_instagram}}"><i class="fab fa-instagram"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Team End -->
</body>
{% endblock content %}